body {
  text-align: justified;
  background-color: #0c0c0c;
  color: #ffffff;
}

h3{
  border-bottom: solid .5px #a0a0a0;
}

p{
  padding:0;
  margin:0;
}

.FilesPage {
  display: flex;
}

.ListColumn {
Width:50%;
background-color: #3d3c3c;
border-radius: 8px;
margin:10px;
}

.ContentColumn {
  Width:50%;
background-color: #3d3c3c;
border-radius: 8px;
margin:10px;
}

.file {
  display: flex;
  justify-content:space-between;
  padding:10px;
  margin:10px;
  color: #ffffff;
  border-bottom: solid .5px #a0a0a0;
  /* border-top: solid .5px #ffffff; */

  /* background-color: #d3d3d3;
  border: solid 1px; */
}

.Col1{
  Width:50%;
  padding:0;
  margin:0;
}

.Col2{
  Width:50%;
  padding:0;
  margin:0;
}

.SideNavBar{
  width: 70px;
  height: 100%;
}

.TopNavBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin: 0 auto;
  width: 100%;
  height: 60px;
}

.TopNavBar input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}